
<%- include('../_partials/header') %>

    <div class="dashboard-container">
        <%- include('../_partials/sidebar') %>

        <!-- Contenido Principal -->
        <main id="main-content">
            <%- include('../_partials/sub_header') %>
            <!-- Lista de Notificaciones -->
            <%- include('../_partials/notificaciones') %>

            <section id="calendario" >
                <h2 class="section-title">Calendario</h2>
                <!-- Contenido del calendario -->
                <p>Aquí irá el contenido del calendario</p>
            </section>


        </main>
    </div>

<%- include('../_partials/footer') %>

