
<%- include('../_partials/header') %>

    <div class="dashboard-container">
        <%- include('../_partials/sidebar') %>

        <!-- Contenido Principal -->
        <main id="main-content">
            <%- include('../_partials/sub_header') %>
            <!-- Lista de Notificaciones -->
            <%- include('../_partials/notificaciones') %>

            <section id="citas" >
                <h2 class="section-title">Citas Médicas</h2>
                <div class="search-bar">
                    <input type="text" id="buscar-cita" placeholder="Buscar cita...">
                    <button id="agregar-cita" class="btn-primary">Agendar Cita</button>
                </div>
                <div id="lista-citas" class="lista-container"></div>
            </section>


        </main>
    </div>

<%- include('../_partials/footer') %>

